header {
    width: fit-content;
    height: max-content;
    /* border: 2px solid green; */
    position: relative;
    background-color: black;

}

#headerImg {
    width: 100%;
    opacity: 45%;
}

#header-div {
    /* border: 1px solid red; */
    width: fit-content;
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: -40%;
    bottom: 0;
    margin: auto;
    text-align: center;
    /* padding: 4px; */
    animation: drop 2s ease forwards;
    opacity: 0;


}



#header-div button:hover {
    background-color: transparent;
    border: 2px solid antiquewhite;
}

#header-div h1 {
    /* font-family: 'Marcellus', serif; */
    font-family: 'Marcellus SC', serif;
    font-size: 7vw;
    color: white;

}


/* font-family: 'Marcellus', serif;
font-family: 'Marcellus SC', serif;
font-family: 'Montserrat', sans-serif; */






/* CSS button */
.button-89 {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color:#bd9820;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 2vw;
    position: absolute;
    font-family: 'Marcellus', serif;
    top: 31%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: max-content;
    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
    background-color: rgba(0, 0, 0, 0.404);
    
}

.button-89:active {
    background: var(--color);
    color: #fff;
}




@keyframes drop {
    0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
    5% {opacity: 0.3;}
    50% {transform: translateY(0px) scaleY(1); opacity: 0.6;}
    65% {transform:  scaleY(1); opacity: 0.9;}
    75% {transform:  scaleY(1); opacity: 1;}
    100% {transform: translateY(0px) scaleY(1); opacity: 1;}
  }