* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Marcellus', serif;
  line-height: 1.6;
  --transition: all 500ms ease;
  /* background-color: rgba(0, 0, 0, 0.658); */
}

a {
  color: #bd9820;
}


section {
  transition: var(--transition);
  padding: 1.5rem;
  padding-top: 40px;
  /* border: 1px solid red; */
}

section>h2 {
  text-align: center;
  font-size: 3.5vw;
  font-family: 'Marcellus', serif;
  border-bottom: 1px solid;
  color: #bd9820;

}

.df-bottombar-branding {
  display: none;
}